*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-color: rgb(164, 164, 199);
    text-align: center;
    margin-top: 190px;
    margin-left: 600px;
    border: 14px solid black;
    border-radius: 50px;
    height: 700px;
    width: 500px;
}
.contaier{
    min-width: 900px;
}
.contaier,h1 {
    color: aliceblue;
    margin-top: 15px;
}
.con{
    margin-top: 20px;
}
.abid{
    text-align: start;
    margin-left: 30px;
    margin-top: 10px;
    
}
.abid,textarea{
    text-decoration: double;
    border-radius: 5px;
}
.abis,button {
    color: rgb(10, 22, 22);
    margin-top: 20px;
    border-radius: 30px;
}